@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.herosection-h1 {
  position: relative;
  width: 100%;
  height: 92vh;
  color: white;
  font-family: "Inria Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  padding-top: 10%;
  padding-left: 10%;
  z-index: 10;
  font-size: 3.4rem; /* Ajuster la taille du texte */
  font-weight: 300; /* Ajuster le poids du texte */
}

.herosection-h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/jocondeRubiks.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(6px);
  z-index: -2;
}

.herosection-h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(16, 15, 15, 0.5);
}

.herosection-h2 {
  position: absolute;
  top: 40%; /* Ajuster la position verticale de h2 */
  left: 10%; /* Décaler le texte du bord gauche */
  width: 80%; /* Limiter la largeur du texte pour qu'il reste dans la zone visible */
  text-align: left; /* Aligner le texte à gauche */
  color: white;
  margin: 0;
  z-index: 10;
  width: 30ch;
  font-size: 1.7rem;
  font-weight: 200;
  font-family: "Inter", sans-serif;
  font-style: italic;
}
